<div class="header">
  <img alt="logo" src="https://meanjs.org/img/logo.png">
</div>
<div class="content">
  <div class="subject">
    Hey {{username}}, welcome to MEAN.
  </div>
  <p class="message">
    Please follow the link below to complete the validation of the password
  </p>
  <a href="{{url}}">Here</a>
  <br>

</div>
<div class="footer">
  Regards, MEAN team.
</div>
