<section class="mainbar">
  <section class="matter login-div">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <img src="/images/logo.png" alt="MEAN Relational">
          </div>
          <div class="panel-body ">
            <div class="">
              <form class="form-horizontal col-xs-12 css-form" role="form" name="form" data-ng-submit="prc.recover(form)" novalidate>
                <h4 class="text-center">Password Recovery</h4>
                <br>
                <div class="form-group">
                  <label class="col-xs-3 control-label">Identification</label>
                  <div class="col-xs-8">
                    <input type="text" class="form-control" name="username" data-ng-model="prc.credentials.identification" id="username" placeholder="Email or Username" required>
                    <div ng-show="form.$submitted || form.username.$touched">
                      <div class="error-msg" ng-show="form.username.$error.required">Please, fill in your email or username.</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-11">
                    <button type="submit" class="btn btn-default pull-right">Recover</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
