<section>
  <div class="pull-right">
    <button class="btn btn-success" data-ng-click="tc.createTask()">New Task</button>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Status</th>
          <th>Created</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="task in tc.tasks">
          <td>{{task.id}}</td>
          <td>{{task.title}}</td>
          <td data-ng-bind-html="task.done | boolFilter"></td>
          <!-- <td>
            <div class="btn-group">
              <label class="btn btn-success" ng-model="task.done" uib-btn-radio="true">Done</label>
              <label class="btn btn-danger" ng-model="task.done" uib-btn-radio="false">Not Done</label>
            </div>
          </td> -->
          <td>{{task.created_at | date: "MM/dd/yyyy 'at' h:mma"}}</td>
          <td>
            <button class="btn btn-success btn-xs" data-ng-click="tc.editTask(task)">Edit</button>
            <button class="btn btn-danger btn-xs" data-ng-click="tc.deleteTask(task)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
