<div class="header">
  <img alt="logo" src="https://meanjs.org/img/logo.png">
</div>
<div class="content">
  <div class="subject">
    Hey {{firstName}} {{lastName}} ({{username}}), welcome to MEAN.
  </div>
  <p class="message">
    To start working with us please click
  </p>
  <a href="{{url}}">Here</a>
  <br>

</div>
<div class="footer">
  Regards, MEAN team.
</div>
